@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: #942EBF;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 980px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

.header__nav {
    background-color: #333;
}

.header__nav > .container {
    display: flex;
}

.header__nav-logo {
    width: 25%;
}

.header__nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 75%;
}

.header__nav-menu > .nav-link {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.header__nav-menu > .nav-link:hover {
    color: var(--main-color);
}

.header__banner {
    display: flex;
    max-width: 980px;
    margin: 20px auto;
}

.header__banner-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.header__banner-info > h1 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* line-height: 3; */
    margin: 20px 0;
}

.header__banner-info > h1 > span {
    color: var(--main-color);
}

.header__banner-info > p {
    text-align: justify;
    line-height: 1.5;
}

.main__about {

}

.main__computers img {
    max-width: 70%;
    margin: auto;
}

.main__about h2 {
    font-weight: 500;
    color: var(--main-color);
    margin: 20px 0;
}

.main__about p {
    text-align: justify;
    line-height: 1.5;
}

.main__design h2 {
    font-weight: 500;
    color: var(--main-color);
    margin: 20px 0;
}

.main__design p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main__design-images {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: auto;

}

.main__nickname h2 {
    font-weight: 500;
    color: var(--main-color);
    margin: 20px 0;
}

.main__nickname p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main__nickname-video {
    margin: auto;
}

footer {
    background-color: #333;
}

footer h2 {
    font-weight: 500;
    color: #fff;
    margin: 10px 0;
}